.DS_Store
.env
backend/.venv/
backend/__pyacache__/
backend/services/__pyacache__/
backend/__pycache__/main.cpython-314.pyc
backend/services/__pycache__/trip_service.cpython-314.pyc
backend/models/__pycache__/
backend/__pycache__/database.cpython-314.pyc
